include ../cv-section-header/cv-section-header.pug
include ../cv-list/cv-list.pug
mixin cv-experience(positions)
    section.cv-experience
        +cv-section-header("experience")
        .cv-experience__list
            +cv-list({listItems: positions})