.first-container {
  box-sizing: border-box;
  width: 38.6%;
  padding-left: 53px;
  display: inline-block;
}
.main-info__picture {
  border-radius: 50%;
  background-color: #3d6cb0;
  width: 223.06px;
  height: 223px;
  box-shadow: 0 0 0 15.33px #fff, 0 0 0 16.33px #3d6cb0;
  margin-top: 105px;
  margin-left: 132px;
}
.main-info__text {
  font-family: "PTSansBold";
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
  margin-top: 21px;
}
.main-info__name {
  font-size: 60px;
  font-family: "PTSansRegular";
  margin-left: 20px;
  padding-top: 15px;
}
.main-info__surname {
  font-size: 72px;
  margin-top: -26px;
  margin-left: 20px;
}
.main-info__vacancy {
  font-size: 27.52px;
  margin-top: -5px;
  margin-left: 20px;
}
.block-header {
  display: flex;
  align-items: center;
  border: 1px solid #f00;
  height: 90px;
  margin-left: 6px;
}
.block-header__picture {
  border-radius: 50%;
  background-color: #3d6cb0;
  width: 74px;
  height: 71px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #3d6cb0;
  margin-right: 16px;
}
.block-header__title {
  font-size: 45.53px;
  text-transform: uppercase;
  color: #3d6cb0;
  font-family: "PTSansBold";
  margin-right: 11px;
}
.block-header__line {
  height: 5px;
  background-color: #3d6cb0;
  flex-grow: 1;
}
.profile {
  margin-top: 75px;
  margin-left: 3px;
}
.profile__text {
  margin-top: 6px;
  font-size: 16.5px;
  margin-left: 4px;
  line-height: 20px;
}
.profile__text-part-1 {
  font-family: "PTSansRegular";
}
.profile__text-part-2 {
  font-family: "PTSansBold";
}
.contact {
  margin-top: 36px;
  margin-left: 3px;
}
.contact__dl {
  padding-top: 12px;
  padding-left: 3px;
}
.contact__dt,
.contact__dd {
  font-size: 22.66px;
  padding-bottom: 30px;
}
.contact__dt {
  float: left;
  color: #3d6cb0;
  text-transform: uppercase;
  font-family: "PTSansBold";
}
.contact__dd {
  font-family: "PTSansRegular";
  padding-left: 100px;
}
.skills {
  margin-top: 15px;
  margin-left: 2px;
  clear: both;
}
.skills__all-skills {
  text-align: center;
  border: 1px solid #00f;
}
.skills__title {
  font-size: 28.33px;
  text-transform: uppercase;
  font-family: "PTSansRegular";
  padding-left: 10px;
  margin-bottom: 10px;
}
.skills__score {
  width: 19.03px;
  height: 19.03px;
  border-radius: 50%;
  background-color: #3d6cb0;
  box-shadow: 30px 0 0 0 #3d6cb0, 59px 0 0 0 #3d6cb0, 89px 0 0 0 #3d6cb0, 119px 0 0 0 #3d6cb0, 152px 0 0 0 #3d6cb0, 182px 0 0 0 #3d6cb0, 212px 0 0 0 #3d6cb0, 242px 0 0 0 #3d6cb0, 272px 0 0 0 #e6e6e6, 304px 0 0 0 #e6e6e6, 334px 0 0 0 #e6e6e6;
  margin-left: 53px;
  margin-bottom: 18px;
}
.second-container {
  box-sizing: border-box;
  width: 61.4%;
  display: inline-block;
  vertical-align: top;
  padding-left: 80px;
  padding-top: 69px;
  padding-right: 37px;
}
.education-list {
  padding-top: 3px;
  list-style: none;
}
.education-list__secondary-info,
.education-list__date,
.education-list__title {
  font-size: 28.33px;
}
.education-list__date,
.education-list__secondary-info,
.education-list__text {
  font-family: "PTSansRegular";
}
.education-list__title {
  padding-left: 22px;
  position: relative;
  font-family: "PTSansBold";
  float: left;
  text-transform: uppercase;
  color: #3d6cb0;
  margin-right: 20px;
}
.education-list__title:before {
  position: absolute;
  content: "\2022";
  font-size: 73px;
  left: -28px;
  top: -30px;
  color: #000;
}
.education-list__secondary-info {
  text-transform: uppercase;
  padding-left: 20px;
}
.education-list__text {
  padding-top: 5px;
  padding-left: 23px;
  margin-bottom: 12px;
}
