.first-container {
  box-sizing: border-box;
  width: 38.6%;
  padding-left: 4%;
  display: inline-block;
}
.main-info__picture {
  border-radius: 50%;
  background-color: #3d6cb0;
  width: 223.06px;
  height: 223px;
  box-shadow: 0 0 0 15.33px #fff, 0 0 0 16.33px #3d6cb0;
  margin-top: 105px;
  margin-left: 28.445%;
}
.main-info__text {
  font-family: "PTSansBold";
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
  margin-top: 21px;
}
.main-info__name {
  font-size: 60px;
  font-family: "PTSansRegular";
  margin-left: 30px;
  padding-top: 15px;
}
.main-info__surname {
  font-size: 72px;
  margin-top: -26px;
  margin-left: 20px;
}
.main-info__vacancy {
  font-size: 27.52px;
  margin-top: -5px;
  margin-left: 25px;
}
.block-header {
  display: flex;
  align-items: center;
  height: 90px;
  margin-left: 6px;
}
.block-header__picture {
  border-radius: 50%;
  background-color: #3d6cb0;
  width: 74px;
  height: 71px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #3d6cb0;
  margin-right: 16px;
}
.block-header__title {
  font-size: 45.53px;
  text-transform: uppercase;
  color: #3d6cb0;
  font-family: "PTSansBold";
  margin-right: 11px;
}
.block-header__line {
  height: 5px;
  background-color: #3d6cb0;
  flex-grow: 1;
}
.profile {
  margin-top: 76px;
  margin-left: 4px;
}
.profile__text {
  margin-top: 7px;
  font-size: 16.5px;
  margin-left: 3px;
  line-height: 20px;
}
.profile__text-part-1 {
  font-family: "PTSansRegular";
}
.profile__text-part-2 {
  font-family: "PTSansBold";
}
.contact {
  margin-top: 37px;
  margin-left: 3px;
}
.contact__dl {
  padding-top: 13px;
  padding-left: 3px;
}
.contact__dt,
.contact__dd {
  font-size: 22.66px;
  padding-bottom: 30px;
}
.contact__dt {
  float: left;
  color: #3d6cb0;
  text-transform: uppercase;
  font-family: "PTSansBold";
}
.contact__dd {
  font-family: "PTSansRegular";
  padding-left: 100px;
}
.skills {
  margin-top: 19px;
  margin-left: 3px;
  clear: both;
}
.skills__all-skills {
  text-align: center;
}
.skills__title {
  font-size: 28.33px;
  text-transform: uppercase;
  font-family: "PTSansRegular";
  padding-left: 9px;
  margin-bottom: 10px;
}
.skills__score {
  width: 19.03px;
  height: 19.03px;
  border-radius: 50%;
  background-color: #3d6cb0;
  box-shadow: 30px 0 0 0 #3d6cb0, 59px 0 0 0 #3d6cb0, 89px 0 0 0 #3d6cb0, 119px 0 0 0 #3d6cb0, 152px 0 0 0 #3d6cb0, 182px 0 0 0 #3d6cb0, 212px 0 0 0 #3d6cb0, 242px 0 0 0 #3d6cb0, 272px 0 0 0 #e6e6e6, 304px 0 0 0 #e6e6e6, 334px 0 0 0 #e6e6e6;
  margin-left: 53px;
  margin-bottom: 18px;
}
.second-container {
  box-sizing: border-box;
  width: 61.4%;
  display: inline-block;
  vertical-align: top;
  padding-left: 81px;
  padding-top: 69px;
  padding-right: 37px;
}
.education {
  padding-top: 1px;
}
.education-list__title {
  color: #3d6cb0;
}
.common-list {
  padding-top: 5px;
  list-style: none;
}
.common-list__secondary-info,
.common-list__date,
.common-list__title {
  font-size: 28.33px;
}
.common-list__date,
.common-list__secondary-info,
.common-list__text {
  font-family: "PTSansRegular";
}
.common-list__title {
  padding-left: 22px;
  position: relative;
  font-family: "PTSansBold";
  float: left;
  text-transform: uppercase;
  margin-right: 20px;
}
.common-list__title:before {
  position: absolute;
  content: "\2022";
  font-size: 73px;
  left: -29px;
  top: -31px;
  color: #000;
}
.common-list__secondary-info {
  text-transform: uppercase;
  padding-left: 20px;
}
.common-list__text {
  padding-top: 5px;
  padding-left: 23px;
  margin-bottom: 12px;
  padding-right: 24px;
}
.experience {
  margin-top: 52px;
}
.experience-list {
  margin-top: 33px;
}
.software {
  margin-top: 51px;
}
.software__second-list,
.software__first-list {
  width: 316px;
}
.software__second-list {
  float: right;
  padding-right: 4px;
}
.software__first-list {
  float: left;
}
.software__title {
  font-size: 28.33px;
  font-family: "PTSansRegular";
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 4px;
}
.software__level {
  height: 24px;
  margin: 0;
  margin-left: 11px;
  margin-top: 14px;
  margin-bottom: 16px;
}
.software__photoshop-level {
  background-image: linear-gradient(to right, #3d6cb0 277px, #e6e6e6 277px);
}
.software__illustrator-level {
  background-image: linear-gradient(to right, #3d6cb0 215px, #e6e6e6 215px);
}
.software__indesign-level {
  background-image: linear-gradient(to right, #3d6cb0 171px, #e6e6e6 171px);
}
.software__dreamweaver-level {
  background-image: linear-gradient(to right, #3d6cb0 252.8px, #e6e6e6 252.8px);
}
.software__after-effects-level {
  background-image: linear-gradient(to right, #3d6cb0 188px, #e6e6e6 188px);
}
.software__html-css-level {
  background-image: linear-gradient(to right, #3d6cb0 277px, #e6e6e6 277px);
}
