.first-container {
  box-sizing: border-box;
  width: 38.6%;
  padding-left: 53px;
  display: inline-block;
}
@media (max-width: 1024px) {
  .first-container {
    padding: 0;
    display: block;
    width: 61.4%;
    margin: auto;
  }
}
.main-info {
  padding-left: 25px;
}
.main-info__picture {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #3d6cb0;
  width: 58.002%;
  padding-top: 58.002%;
  margin-top: 88.67px;
  margin-left: auto;
  margin-right: auto;
}
.main-info__picture::after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 50%;
  background-color: #3d6cb0;
  width: 88.1423%;
  padding-top: 88.1423%;
  top: 5.9289%;
  left: 5.9289%;
}
.main-info__text {
  width: 85.765%;
  font-family: "PTSansBold";
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.main-info__name {
  font-size: 3.75rem;
  font-family: "PTSansRegular";
}
.main-info__surname {
  font-size: 4.4rem;
  line-height: 0.6em;
}
.main-info__vacancy {
  font-size: 1.6875rem;
  line-height: 2.8em;
}
@media (min-width: 1025px) and (max-width: 1160px) {
  .main-info__name {
    font-size: 2.48rem;
  }
  .main-info__surname {
    font-size: 3rem;
  }
  .main-info__vacancy {
    font-size: 1.125rem;
  }
}
@media (max-width: 1024px) {
  .main-info__picture {
    margin-left: auto;
    margin-right: auto;
  }
  .main-info__text {
    margin-left: auto;
    margin-right: auto;
  }
}
.block-header {
  display: flex;
  align-items: center;
  height: 90px;
  margin-left: 6px;
}
.block-header__picture {
  border-radius: 50%;
  background-color: #0071bb;
  width: 74px;
  height: 71px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #0071bb;
  margin-right: 16px;
  background-position: center;
}
.block-header__title {
  font-size: 2.8125rem;
  text-transform: uppercase;
  color: #3d6cb0;
  font-family: "PTSansBold";
  margin-right: 11px;
}
.block-header__line {
  height: 5px;
  background-color: #3d6cb0;
  flex-grow: 1;
}
.profile {
  margin-top: 57px;
  margin-left: 4px;
}
.profile .block-header__picture {
  background-image: url(img/profile_icon.png);
}
.profile__text {
  margin-top: 7px;
  font-size: 1.03125rem;
  margin-left: 3px;
  line-height: 1.25rem;
}
.profile__text-part-1 {
  font-family: "PTSansRegular";
}
.profile__text-part-2 {
  font-family: "PTSansBold";
}
.contact {
  margin-top: 37px;
  margin-left: 3px;
}
.contact .block-header__picture {
  background-image: url(img/contact_icon.png);
}
.contact__dl {
  padding-top: 13px;
  padding-left: 3px;
}
.contact__dt,
.contact__dd {
  font-size: 1.4375rem;
  padding-bottom: 31px;
}
.contact__dt:last-child,
.contact__dd:last-child {
  padding-bottom: 30px;
}
.contact__dt {
  float: left;
  color: #3d6cb0;
  text-transform: uppercase;
  font-family: "PTSansBold";
}
.contact__dd {
  font-family: "PTSansRegular";
  padding-left: 100px;
}
.skills {
  margin-left: 3px;
  clear: both;
  text-align: center;
}
.skills .block-header__picture {
  background-image: url(img/skills_icon.png);
}
.skills__title {
  font-size: 28.33px;
  text-transform: uppercase;
  font-family: "PTSansRegular";
  padding-left: 9px;
  margin-bottom: 9px;
}
.skills__score {
  width: 353px;
  height: 19px;
  margin-bottom: 15px;
}
.skills__scores {
  padding-top: 17px;
}
.second-container {
  box-sizing: border-box;
  width: 61.4%;
  display: inline-block;
  vertical-align: top;
  padding-left: 81px;
  padding-top: 69px;
  padding-right: 37px;
}
@media (max-width: 1024px) {
  .second-container {
    padding: 0;
    display: block;
    margin: auto;
  }
}
.education {
  padding-top: 1px;
}
.education .block-header__picture {
  background-image: url(img/education_icon.png);
}
.education-list__title {
  color: #3d6cb0;
}
@media (max-width: 1024px) {
  .education {
    margin-top: 40px;
  }
}
.common-list {
  padding-top: 5px;
  list-style: none;
}
.common-list__secondary-info,
.common-list__date,
.common-list__title {
  font-size: 1.75rem;
}
.common-list__date,
.common-list__secondary-info,
.common-list__text {
  font-family: "PTSansRegular";
}
.common-list__title {
  padding-left: 22px;
  position: relative;
  font-family: "PTSansBold";
  float: left;
  text-transform: uppercase;
  margin-right: 20px;
}
.common-list__title:before {
  position: absolute;
  content: "\2022";
  font-size: 4.5625rem;
  left: -29px;
  top: -31px;
  color: #000;
}
.common-list__secondary-info {
  text-transform: uppercase;
  padding-left: 20px;
}
.common-list__text {
  padding-top: 5px;
  padding-left: 23px;
  margin-bottom: 12px;
  padding-right: 24px;
}
.common-list__date {
  padding-left: 22px;
}
.experience {
  margin-top: 52px;
}
.experience .block-header__picture {
  background-image: url(img/experience_icon.png);
}
.experience-list {
  margin-top: 33px;
}
.software {
  margin-top: 51px;
}
.software .block-header__picture {
  background-image: url(img/software_icon.png);
}
.software__second-list,
.software__first-list {
  width: 316px;
}
.software__second-list {
  float: right;
  padding-right: 4px;
}
.software__first-list {
  float: left;
}
.software__title {
  font-size: 1.75rem;
  font-family: "PTSansRegular";
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 4px;
}
.software__level {
  height: 24px;
  margin: 0;
  margin-left: 11px;
  margin-top: 14px;
  margin-bottom: 16px;
}
.software__photoshop-level {
  background-image: linear-gradient(to right, #3d6cb0 277px, #e6e6e6 277px);
}
.software__illustrator-level {
  background-image: linear-gradient(to right, #3d6cb0 215px, #e6e6e6 215px);
}
.software__indesign-level {
  background-image: linear-gradient(to right, #3d6cb0 171px, #e6e6e6 171px);
}
.software__dreamweaver-level {
  background-image: linear-gradient(to right, #3d6cb0 252.8px, #e6e6e6 252.8px);
}
.software__after-effects-level {
  background-image: linear-gradient(to right, #3d6cb0 188px, #e6e6e6 188px);
}
.software__html-css-level {
  background-image: linear-gradient(to right, #3d6cb0 277px, #e6e6e6 277px);
}
@media (max-width: 1245px) {
  .software .software__second-list,
  .software .software__first-list {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
