mixin applicant({name, surname, vacancy})
    section.applicant
        .applicant__photo-border
            .applicant__photo
        .applicant__info
            .applicant__name=name
            .applicant__surname=surname
            .applicant__vacancy=vacancy
