$blue = #3d6cb0

.main-info
    &__picture
        border-radius: 50%
        background-color: $blue
        width: 405px
        height: 405px
        box-shadow: 0 0 0 26px #fff,
                    0 0 0 29px $blue
        margin-left: 220px 

    &__text
        font-family: 'Conv_myriad_pro_bold'
        margin-left: auto
        margin-right: auto
        text-align: center
        text-transform: uppercase
        margin-left: 80px

    &__name
        font-size: 104.49px

    &__surname
        font-size: 123.45px
        
    &__vacancy
        font-size: 49.97px