mixin main-info({name, surname, vacancy})
    section.main-info
        .main-info__picture
        .main-info__text
            .main-info__name=name
            .main-info__surname=surname
            .main-info__vacancy=vacancy
