$picture_color = #3d6cb0

.main-info
    padding-left: 19px
    margin-bottom: 58px  
    &__picture
        position: relative
        border-radius: 50%
        background-color: #ffffff
        border: 1px solid $picture_color
        width: 57.907%
        padding-top: 57.907%        
        margin-top: 89px
        margin-left: auto
        margin-right: auto

    &__picture::after
        position: absolute
        content: ''
        display: block
        border-radius: 50%
        background-color: $picture_color
        width: 88.1423%
        padding-top: 88.1423%
        top: 5.9289%
        left: 5.9289%        

    &__text
        width: 85.765% 
        font-family: "PTSansBold"               
        text-align: center
        text-transform: uppercase
        margin-left: auto
        margin-right: auto
        margin-top: 20px     

    &__name
        font-size: 3.75rem
        font-family: "PTSansRegular"      

    &__surname
        font-size: 4.4rem
        line-height: 0.6em       
        
    &__vacancy
        font-size: 1.6875rem  
        line-height: 2.8em

@media (min-width: 1025px) and (max-width: 1160px)
    .main-info
        &__name            
            font-size: 3rem
        &__surname
            font-size: 3.52rem
        &__vacancy
            font-size: 1.35rem

@media (min-width: 801px) and (max-width: 1024px)
    .main-info
        &__name
            font-size: 2rem
        &__surname
            font-size: 2.35rem
        &__vacancy
            font-size: 0.9rem

@media (min-width: 641px) and (max-width: 800px)
    .main-info
        &__name
            font-size: 1.6rem
        &__surname
            font-size: 1.88rem
        &__vacancy
            font-size: 0.72rem

@media (max-width: 640px)
    .main-info
        &__picture
            margin-left: auto
            margin-right: auto
        &__text
            margin-left: auto
            margin-right: auto
        &__name            
            font-size: 3rem
        &__surname
            font-size: 3.52rem
        &__vacancy
            font-size: 1.35rem
        
    
