$blue = #3d6cb0

.main-info
    &__picture
        border-radius: 50%
        background-color: $blue
        width: 223.06px
        height: 223px        
        box-shadow: 0 0 0 15.33px #fff,
                    0 0 0 16.33px $blue        
        margin-top: 105px
        margin-left: 132px


    &__text
        font-family: "PTSansBold"               
        text-align: center
        text-transform: uppercase        
        margin-top: 21px        
        

    &__name
        font-size: 60px
        font-family: "PTSansRegular"
        margin-left: 30px        
        padding-top: 15px

    &__surname
        font-size: 72px
        margin-top: -26px
        margin-left: 20px
        
    &__vacancy
        font-size: 27.52px   
        margin-top: -5px
        margin-left: 25px  