$blue = #3d6cb0

.contact    
    margin-top: 37px
    margin-left: 3px
    &__dl
        padding-top: 13px
        padding-left: 3px       

    &__dt,
    &__dd
        font-size: 22.66px
        padding-bottom: 30px    

    &__dt
        float: left     
        color: $blue
        text-transform: uppercase
        font-family: "PTSansBold"                
    
    &__dd
        font-family: "PTSansRegular"
        padding-left: 100px       
        