.contact
  .block-header__picture::after
    background-image: url("contact_icon.png")

  &__data
    margin-top: 1.8125rem

  &__data-type,
  &__data-value
    font-size: 1.4375rem
    padding-bottom: 1.9375rem

  &__data-type
    float: left
    color: #3d6cb0
    text-transform: uppercase
    font-family: "PTSansBold", "Arial", sans-serif

  &__data-value
    font-family: "PTSansRegular", "Arial", sans-serif
    padding-left: 6.25rem
