.contact
  &__data
    margin-top: 1.8125rem

  &__data-type,
  &__data-value
    font-size: 1.4375rem
    padding-bottom: 1.9375rem

  &__data-type
    float: left
    color: #3d6cb0
    text-transform: uppercase
    font-family: "PT Sans", "Arial", sans-serif
    font-weight: 700

  &__data-value
    font-family: "PT Sans", "Arial", sans-serif
    padding-left: 6.25rem
    font-weight: 400
