.profile
  margin-bottom: 2.3125rem

  &__text
    margin-top: 7px
    margin-bottom: 0
    font-size: 1.03125rem
    line-height: 1.35rem

  &__text-regular
    font-family: "PT Sans", "Arial", sans-serif
    font-weight: 400

  &__text-bold
    font-family: "PT Sans", "Arial", sans-serif
    font-weight: 700