.profile
    margin-bottom: 37px
    
    .block-header__picture::after
        background-image: url("profile_icon.png")

    &__text 
        margin-top: 7px        
        font-size: 1.03125rem        
        line-height: 1.25rem        

    &__text-part-1
        font-family: "PTSansRegular"               
    
    &__text-part-2        
        font-family: "PTSansBold"


@media (min-width: 641px) and (max-width: 1024px)
    .profile
        &__text
            font-size: 0.73rem