.profile
    margin-top: 76px
    margin-left: 4px

    &__text 
        margin-top: 7px        
        font-size: 16.5px
        margin-left: 3px
        line-height: 20px        

    &__text-part-1
        font-family: "PTSansRegular"               
    
    &__text-part-2        
        font-family: "PTSansBold"


