include ../cv-section-header/cv-section-header.pug

mixin profile({descriptionPart, importantDescriptionPart})
    section.profile
        +cv-section-header("profile")
        p.profile__description
            span.profile__description-part=descriptionPart
            strong.profile__description-part_important=importantDescriptionPart
