mixin profile(textRegular, textBold)
    include ../block-header/block-header.pug
    section.profile
        +block-header("profile")
        p.profile__text
            span.profile__text-regular=textRegular
            span.profile__text-bold=textBold