mixin profile(descriptionPart, importantDescriptionPart)
    include ../cv-section-header/cv-section-header.pug
    section.profile
        +cv-section-header("profile")
        p.profile__description
            span.profile__description-part=descriptionPart
            span.profile__description-part_important=importantDescriptionPart