include ../section-header/section-header.pug

mixin profile({descriptionPart, importantDescriptionPart} = {})
    section.profile
        +section-header({title: "profile"})
        p.profile__description
            span.profile__description-part=descriptionPart
            strong.profile__description-part_important=importantDescriptionPart
