mixin profile(textRegular, textBold)
    include ../cv-section-header/cv-section-header.pug
    section.profile
        +cv-section-header("profile")
        p.profile__text
            span.profile__text-regular=textRegular
            span.profile__text-bold=textBold