@import "../../colors"

.cv-section-header
  display flex
  align-items center
  height 5.625rem

  &__picture-container
    position relative
    border-radius 50%
    background-color $white
    border 1px solid $secondary-blue
    width 4.875rem
    height 4.875rem
    margin-right 0.75rem

  &__picture
    position absolute
    border-radius 50%
    background-color $secondary-blue
    width 4.4375rem
    height 4.4375rem
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background-size 115%
    background-position center

    &_profile
      background-image url("../cv-profile/cv-profile-icon.png")

    &_contact
      background-image url("../cv-contact/cv-contact-icon.png")

    &_skills
      background-image url("../cv-skills/cv-skills-icon.png")

    &_education
      background-image url("../cv-education/cv-education-icon.png")

    &_experience
      background-image url("../cv-experience/cv-experience-icon.png")

    &_software
      background-image url("../cv-software/cv-software-icon.png")

  &__title
    font-size 2.8125rem
    text-transform uppercase
    color $main-blue
    margin-right 0.6875rem

  &__line
    height 0.3125rem
    background-color $main-blue
    flex-grow 1
