.cv-section-header
  display: flex
  align-items: center
  height: 5.625rem

  &__picture-border
    position: relative
    border-radius: 50%
    background-color: #ffffff
    border: 1px solid #0071bb
    width: 4.875rem
    height: 4.875rem
    margin-right: 0.75rem

  &__picture
    position: absolute
    border-radius: 50%
    background-color: #0071bb
    width: 4.4375rem
    height: 4.4375rem
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-size: 115%
    background-position: center

    &_profile
      background-image: url("../profile/profile_icon.png")

    &_contact
      background-image: url("../contact/contact_icon.png")

    &_skills
      background-image: url("../skills/skills_icon.png")

    &_education
      background-image: url("../education/education_icon.png")

    &_experience
      background-image: url("../experience/experience_icon.png")

    &_software
      background-image: url("../software/software_icon.png")

  &__title
    font-size: 2.8125rem
    text-transform: uppercase
    color: #3d6cb0
    font-family: "PT Sans", "Arial", sans-serif
    font-weight: 700
    margin-right: 0.6875rem

  &__line
    height: 0.3125rem
    background-color: #3d6cb0
    flex-grow: 1
