mixin cv-section-header(blockTitle)
    header(class=`cv-section-header cv-section-header_${blockTitle}`)
        div(class="cv-section-header__picture")
        h2.cv-section-header__title=blockTitle
        .cv-section-header__line