mixin cv-section-header(blockTitle)
    header.cv-section-header
        .cv-section-header__picture-container
            div(class=`cv-section-header__picture cv-section-header__picture_${blockTitle}`)
        h2.cv-section-header__title=blockTitle
        .cv-section-header__line