.cv-column-right
  box-sizing border-box
  width 61.4%
  float right
  padding-left 5.25rem
  padding-top 70px
  padding-right 2.3125rem

  @media (max-width 650px)
    width 80%
    padding 0
    float none
    margin-left auto
    margin-right auto
