$blue = #3d6cb0

.block-header
    display: flex
    align-items: center
    border: 1px solid red
    height: 90px
    margin-left: 6px

    &__picture        
        border-radius: 50%
        background-color: $blue
        width: 74px
        height: 71px
        box-shadow: 0 0 0 3px #fff,
                    0 0 0 4px $blue
        margin-right: 16px     

    &__title 
        font-size: 45.53px
        text-transform: uppercase
        color: $blue 
        font-family: "PTSansBold"
        margin-right: 11px    

    &__line
        height: 5px
        
        background-color: $blue
        flex-grow: 1