$icon_color = #0071bb
$text_color = #3d6cb0

.block-header
    display: flex
    align-items: center
    height: 90px
    margin-left: 6px

    &__picture        
        border-radius: 50%
        background-color: $icon_color
        width: 74px
        height: 71px
        box-shadow: 0 0 0 3px #fff,
                    0 0 0 4px $icon_color
        margin-right: 16px        
        background-position: center    

    &__title 
        font-size: 45.53px
        text-transform: uppercase
        color: $text_color 
        font-family: "PTSansBold"
        margin-right: 11px    

    &__line
        height: 5px        
        background-color: $text_color
        flex-grow: 1