mixin cv-skills({skillsList, maxSkillLevel})
    include ../cv-section-header/cv-section-header.pug

    mixin drawSkillLevel(level)
        - for (let i = 0; i < level; i++)
            .cv-skills__skill-point.cv-skills__skill-point_checked
        - for (let i = 0; i < maxSkillLevel - level; i++)
            .cv-skills__skill-point.cv-skills__skill-point_unchecked

    section.cv-skills
        +cv-section-header("skills")
        dl.cv-skills__levels
            - for (let skill of skillsList)
                dt.cv-skills__title=skill.title
                dd.cv-skills__level
                    +drawSkillLevel(skill.level)