.cv-column-second
  box-sizing: border-box
  width: 61.4%
  float: right
  padding-left: 84px
  padding-top: 70px
  padding-right: 37px

  @media (max-width: 650px)
    width: 80%
    padding: 0
    float: none
    margin-left: auto
    margin-right: auto