include ../cv-education/cv-education.pug
include ../cv-experience/cv-experience.pug
include ../cv-software/cv-software.pug
.cv-column-second
    - const degree = {
    -   infoFirst: "Master Degree",
    -   infoSecond: "University Name",
    -   date: "Feb 2011 - Jun 2014",
    -   comment: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo " +
    -   "ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes," +
    -   " nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."
    - }
    +cv-education([degree, degree, degree, degree])
    - const position = {
    -   infoFirst: "Company Name",
    -   infoSecond: "Your job here",
    -   date: "Feb 2011 - Jun 2014",
    -   comment: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo " +
    -   "ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes," +
    -   " nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."
    - }
    +cv-experience([position, position, position])
    - const photoshop = {title: "Photoshop", level: 90.8197};
    - const illustrator = {title: "Illustrator", level: 70.4918};
    - const indesign = {title: "Indesign", level: 56.0656}
    - const dreamweaver = {title: "Dreamweaver", level: 82.9508};
    - const afterEffects = {title: "After Effects", level: 61.6393};
    - const htmlCss = {title: "HTML&CSS", level: 90.8197};
    +cv-software([photoshop, dreamweaver, illustrator, afterEffects, indesign, htmlCss])