include ../cv-section-header/cv-section-header.pug
mixin cv-software(softwareList)

    mixin drawLevel(value)
        .cv-software__level(style=`background-image: linear-gradient(to right, #3d6cb0 ${value}%, #e6e6e6 ${value}%)`)

    section.cv-software
        +cv-section-header("software")
        ul.cv-software__levels
            - for (let software of softwareList)
                li.cv-software__software
                    .cv-software__title=software.title
                    +drawLevel(software.level)
