.cv-column-first
  box-sizing: border-box
  width: 38.6%
  padding-left: 60px
  padding-top: 89px
  float: left

  @media (max-width: 650px)
    width: 80%
    padding-left: 0
    float: none
    margin-left: auto
    margin-right: auto