include ../column-left/column-left.pug
include ../column-right/column-right.pug

mixin cv
    .cv
        .cv__column-left
            +column-left
        .cv__column-right
            +column-right
