include ../applicant/applicant.pug
include ../profile/profile.pug
include ../contact/contact.pug
include ../skills/skills.pug

.column-left
    - const leftColDataPath = "src/blocks/column-left/block-data/";
    - const applicant = JSON.parse(fs.readFileSync(`${leftColDataPath}applicant.json`, "utf8"));
    - const profile = JSON.parse(fs.readFileSync(`${leftColDataPath}profile.json`, "utf8"));
    - const contact = JSON.parse(fs.readFileSync(`${leftColDataPath}contact.json`, "utf8"));
    - const skills = JSON.parse(fs.readFileSync(`${leftColDataPath}skills.json`, "utf8"));
    +applicant(applicant)
    +profile(profile)
    +contact(contact)
    +skills(skills)
