.cv-list
  //padding-top: 0.3125rem
  list-style: none
  font-family: "PTSansRegular"

  &__item-main
    font-size: 1.75rem

  &__item-info-first
    font-family: "PTSansBold"
    text-transform: uppercase
    margin-right: 1.25rem
    padding-left: 1.1875rem
    position: relative

    &:before
      position: absolute
      content: "•"
      font-size: 4.5625rem
      left: -2rem
      top: -1.9375rem
      color: #000000

  &__item-info-second
    text-transform: uppercase
    padding-left: 1.0625rem

  &__item-secondary
    margin: 0 0 0.75rem
    padding: 0.3125rem 1.375rem 0 1.25rem
