mixin cv-list(itemsArray, mixClass = "")
    - mixClass = mixClass ? " " + mixClass : "";
    ul(class="cv-list" + mixClass)
        - for (item of itemsArray) {
        -   const infoFirst = item.infoFirst;
        -   const infoSecond = item.infoSecond;
        -   const date = item.date;
        -   const secondary = item.secondary;
            li.cv-list__item
                .cv-list__item-main
                    span.cv-list__item-info-first=infoFirst
                    span.cv-list__item-period="// " + date
                    .cv-list__item-info-second=infoSecond
                p.cv-list__item-secondary=secondary
        - }