@import "../../colors"

.cv-contact
  &__data
    margin-top: 1.8125rem

  &__data-type,
  &__data-value
    font-size: 1.4375rem
    padding-bottom: 1.9375rem

  &__data-type
    float: left
    color: $main-blue
    text-transform: uppercase
    font-weight: 700

  &__data-value
    padding-left: 6.25rem

  &__link
    text-decoration: none
    color: $black
