include ../cv-section-header/cv-section-header.pug
include ../common-list/common-list.pug
mixin experience
    .experience
        +cv-section-header('experience')
        +common-list('experience', 3, 'Company Name', 'Your Job Here')