include ../cv-section-header/cv-section-header.pug
include ../cv-list/cv-list.pug
mixin experience(positions)
    section.experience
        +cv-section-header("experience")
        +cv-list({listItems: positions, mixClass: "experience__list"})