doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title CV
	body.cv
		include ../blocks/cv-column-first/cv-column-first.pug
		include ../blocks/cv-column-second/cv-column-second.pug