mixin section-header(blockTitle)
    header.section-header
        .section-header__picture-container
            div(class=`section-header__picture section-header__picture_${blockTitle}`)
        h2.section-header__title=blockTitle
        .section-header__line
