include ../main-info/main-info.pug
include ../profile/profile.pug
include ../contact/contact.pug
include ../skills/skills.pug
.first-container
    +main-info('name here', 'surname', 'graphic designer')
    +profile('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna lectus,' + 
    'tempus ac gravida eget, convallis a sem. Curabitur mattis velit a rhoncus fringilla.' +
    'In porta augue at ligula maximus maximus. Integer blandit orci id nisi iaculis fringilla.' + 
    'Donec euismod vestibulum risus scelerisque fringilla. Sed vel varius dui. Nulla sed placerat urna.' + 
    'Nulla mattis egestas eros id aliquam. Curabitur vel elementum nisl. Aenean posuere velit nec' + 
    'pharetra dapibus. Vestibulum varius diam ut tortor volutpat lobortis. Sed quis consectetur eros,' +
    'id tristique leo.')
    +contact('address_sample', 'email_sample', 'phone_sample', 'website_sample')
    +skills()