.first-container
    box-sizing: border-box
    width: 38.6%
    padding-left: 53px
    display: inline-block

@media (max-width: 1024px)
    .first-container
        padding: 0
        display: block
        width: 61.4%        
        margin: auto