mixin drawSkillLevel(level, maxSkillLevel)
    - for (let i = 0; i < level; i++)
        .skills__skill-point.skills__skill-point_checked
    - for (let i = 0; i < maxSkillLevel - level; i++)
        .skills__skill-point.skills__skill-point_unchecked
