mixin cv-applicant({name, surname, vacancy})
    section.cv-applicant
        .cv-applicant__photo-border
            .cv-applicant__photo
        .cv-applicant__info
            .cv-applicant__name=name
            .cv-applicant__surname=surname
            .cv-applicant__vacancy=vacancy
