@import "../../colors"

.cv-applicant
  padding-left: 19px
  margin-bottom: 4.25rem

  &__photo-border
    position: relative
    border-radius: 50%
    background-color: $white
    border: 1px solid $main-blue
    width: 57.907%
    padding-top: 57.907%
    margin-left: auto
    margin-right: auto

  &__photo
    position: absolute
    border-radius: 50%
    background-color: $main-blue
    width: 88.1423%
    padding-top: 88.1423%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  &__info
    font-weight: 700
    text-align: center
    text-transform: uppercase
    word-break: break-word
    margin-left: auto
    margin-right: auto
    margin-top: 2.125rem

  &__name
    font-size: 3.75rem
    line-height: 0.9em

  &__surname
    font-size: 4.4rem
    line-height: 0.9em

  &__vacancy
    font-size: 1.6875rem
    line-height: 2em