include ../cv-section-header/cv-section-header.pug
mixin cv-profile({descriptionPart, importantDescriptionPart})
    section.cv-profile
        +cv-section-header("profile")
        p.cv-profile__description
            span.cv-profile__description-part=descriptionPart
            strong.cv-profile__description-part_important=importantDescriptionPart
