.second-container
    box-sizing: border-box
    width: 61.4%
    display: inline-block
    vertical-align: top
    padding-left: 84px
    padding-top: 70px 
    padding-right: 37px 

@media (max-width: 640px)
    .second-container
        padding: 0
        display: block
        margin-left: auto
        margin-right: auto