doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title CV
	body.cv
		include first-container/first-container.pug
		include second-container/second-container.pug