@media (min-width: 1161px)
    html
        font-size: 16px

@media (min-width: 1025px) and (max-width: 1115px)
    html
        font-size: 15px

@media (min-width: 801px) and (max-width: 1024px)
    html
        font-size: 11px

@media (min-width: 650px) and (max-width: 800px)
    html
        font-size: 8px