include ../education/education.pug
include ../experience/experience.pug
include ../software/software.pug

mixin column-right
    .column-right
        +education(data.education)
        +experience(data.experience)
        +software(data.software)
