include ../education/education.pug
include ../experience/experience.pug
include ../software/software.pug

mixin column-right({educationData = {}, experienceData = {}, softwareData = {}} = {})
    .column-right
        .column-right__education
            +education(educationData)
        .column-right__experience
            +experience(experienceData)
        +software(softwareData)
