include ../education/education.pug
include ../experience/experience.pug
include ../software/software.pug

.column-right
    - const rightColDataPath = "src/blocks/column-right/block-data/";
    - const education = JSON.parse(fs.readFileSync(`${rightColDataPath}education.json`, "utf8"));
    - const experience = JSON.parse(fs.readFileSync(`${rightColDataPath}experience.json`, "utf8"));
    - const software = JSON.parse(fs.readFileSync(`${rightColDataPath}software.json`, "utf8"));
    +education(education)
    +experience(experience)
    +software(software)
