include ../education/education.pug
include ../experience/experience.pug
include ../software/software.pug

mixin column-right
    .column-right
        .column-right__education
            +education(data.education)
        .column-right__experience
            +experience(data.experience)
        +software(data.software)
