.list
  list-style none
  padding-left 3.5625rem

  &__item
    margin-bottom 0.75rem
    position relative

    &:before
      position absolute
      content "•"
      font-size 5rem
      left -3.125rem
      top -2.25rem
      color $black
