include ../info-with-period/info-with-period.pug

mixin list({listItems, color = ""} = {})
    ul.list
        each item in listItems
            li.list__item
                +info-with-period({title: item.title, period: item.period, subtitle: item.subtitle, content: item.content, titleColor: color})
