include ../applicant-competence/applicant-competence.pug

mixin list({listItems, color=""})
    ul.list
        each item in listItems
            li.list__item
                +applicant-competence({title: item.title, period: item.period, subtitle: item.subtitle, content: item.content, titleColor: color})
