mixin skills()
    include ../block-header/block-header.pug
    .skills
        +block-header('skills')
        .skills__creative
            h3.skills__title creative
            .skills__score.skills__score-creative
        .skills__teamwork
            h3.skills__title teamwork
            .skills__score.skills__score-teamwork
        .skills__innovate
            h3.skills__title innovate
            .skills__score.skills__score-innovate
        .skills__communication
            h3.skills__title communication
            .skills__score.skills__score-communication