mixin skills({creative, teamwork, innovate, communication})
    include ../cv-section-header/cv-section-header.pug

    mixin draw-skill-score(score)
        - for (let i = 0; i < score; i++)
            .skills__skill-point.skills__skill-point_checked
        - for (let i = 0; i < 12 - score; i++)
            .skills__skill-point.skills__skill-point_unchecked

    section.skills
        +cv-section-header("skills")
        ul.skills__scores
            li.skills__skill
                .skills__title creative
                .skills__score
                    +draw-skill-score(creative)
            li.skills__skill
                .skills__title teamwork
                .skills__score
                    +draw-skill-score(teamwork)
            li.skills__skill
                .skills__title innovate
                .skills__score
                    +draw-skill-score(innovate)
            li.skills__skill
                .skills__title communication
                .skills__score
                    +draw-skill-score(communication)