include ../section-header/section-header.pug
include ../applicant-ability/applicant-ability.pug

mixin skills({skillsList, maxSkillValue})
    section.skills
        +section-header("skills")
        ul.skills__list
            each skill in skillsList
                li.skills__skill
                    +applicant-ability({title: skill.title, value: skill.value, maxValue: maxSkillValue})
