mixin skills(creative, teamwork, innovate, communication)    

    mixin make_circles(score)
        - for (i=0; i < score; i++)
            .skills__circle.skills__circle-checked
        - for (i=0; i < 12 - score; i++)
            .skills__circle.skills__circle-unchecked

    include ../block-header/block-header.pug
    
    .skills
        +block-header("skills")        
        .skills__scores
            .skills__title creative
            .skills__score.skills__score-creative            
                +make_circles(creative)                     
                
            .skills__title teamwork
            .skills__score.skills__score-teamwork
                +make_circles(teamwork)
                
            .skills__title innovate
            .skills__score.skills__score-innovate
                +make_circles(innovate) 
                
            .skills__title communication
            .skills__score.skills__score-communication
                +make_circles(communication) 