@import "../../colors"

.skills
  &__title
    font-size 1.75rem
    text-transform uppercase
    padding-left 0.5625rem
    margin-bottom 0.5625rem
    text-align center

   &__levels
    padding-top 1.0625rem
    list-style none
    padding 0

  &__level
    margin 0 0 0.9375rem
    text-align center

  &__skill-point
    display inline-block
    width 1.1875rem
    height 1.1875rem
    border-radius 50%
    margin-right 0.625rem

    &_checked
      background-color $main-blue

    &_unchecked
      background-color $unchecked-grey
