include ../section-header/section-header.pug
include pug-mixins/drawSkillLevel.pug

mixin skills({skillsList, maxSkillLevel})
    section.skills
        +section-header("skills")
        dl.skills__levels
            each skill in skillsList
                dt.skills__title=skill.title
                dd.skills__level
                    +drawSkillLevel(skill.level, maxSkillLevel)
