mixin skills()
    include ../block-header/block-header.pug
    .skills
        +block-header('skills')
        dl.skills__all-skills
            dt.skills__title creative
            dd.skills__score.skills__score-creative
            
            dt.skills__title teamwork
            dd.skills__score.skills__score-teamwork
            
            dt.skills__title innovate
            dd.skills__score.skills__score-innovate
            
            dt.skills__title communication
            dd.skills__score.skills__score-communication