mixin skills({creative, teamwork, innovate, communication})
    include ../cv-section-header/cv-section-header.pug

    mixin draw-skill-score(score)
        - for (let i = 0; i < score; i++)
            .skills__skill-point.skills__skill-point_checked
        - for (let i = 0; i < 12 - score; i++)
            .skills__skill-point.skills__skill-point_unchecked

    section.skills
        +cv-section-header("skills")
        dl.skills__scores
            dt.skills__title creative
            dd.skills__score
                +draw-skill-score(creative)

            dt.skills__title teamwork
            dd.skills__score
                +draw-skill-score(teamwork)

            dt.skills__title innovate
            dd.skills__score
                +draw-skill-score(innovate)

            dt.skills__title communication
            dd.skills__score
                +draw-skill-score(communication)