mixin skills()
    include ../block-header/block-header.pug
    .skills
        +block-header('skills')
        .skills__creative
            h3.skills__title
            .skills__score
        .skills__teamwork
            h3.skills__title
            .skills__score
        .skills__innovate
            h3.skills__title
            .skills__score
        .skills__communication
            h3.skills__title
            .skills__score