$blue = #3d6cb0

.skills
    &__title
        font-size: 51.44px
        text-transform: uppercase

    &__score
        width: 35px
        height: 35px
        border-radius: 50%
        background-color: $blue
        box-shadow: 55px 0 0 0 $blue