mixin skills()
    .skills
        .block-header
            .picture.blok-header__picture
            h2.block-header__title= "Skills"
        .skill-creative
        .skill-teamwork
        .skill-innovate
        .skill-communication