include ../cv-section-header/cv-section-header.pug
mixin software
    .software
        +cv-section-header('software')
        .software__levels
            dl.software__first-list
                dt.software__title Photoshop
                dd.software__level.software__photoshop-level

                dt.software__title Illustrator
                dd.software__level.software__illustrator-level

                dt.software__title Indesign
                dd.software__level.software__indesign-level
            dl.software__second-list
                dt.software__title Dreamweaver
                dd.software__level.software__dreamweaver-level

                dt.software__title After Effects
                dd.software__level.software__after-effects-level

                dt.software__title HTML&CSS
                dd.software__level.software__html-css-level