include ../section-header/section-header.pug
include ../applicant-ability/applicant-ability.pug

mixin software({softwareList = []} = {})
    section.software
        +section-header({title: "software"})
        ul.software__list
            each software in softwareList
                li.software__software
                    +applicant-ability({title: software.title, value: software.value, type: "progress"})
