.software
    margin-top: 51px

    &__second-list,
    &__first-list
        width: 316px

    &__second-list
        float: right
        padding-right: 4px
    
    &__first-list
        float: left

    &__title
        font-size: 28.33px
        font-family: "PTSansRegular"
        text-transform: uppercase
        padding-left: 10px
        padding-top: 4px

    &__level
        height: 24px       
        margin: 0        
        margin-left: 11px
        margin-top: 14px
        margin-bottom: 16px

    &__photoshop-level
        background-image: linear-gradient(to right, #3d6cb0 277px, #e6e6e6 277px)
    
    &__illustrator-level
        background-image: linear-gradient(to right, #3d6cb0 215px, #e6e6e6 215px)
    
    &__indesign-level
        background-image: linear-gradient(to right, #3d6cb0 171px, #e6e6e6 171px)
    
    &__dreamweaver-level
        background-image: linear-gradient(to right, #3d6cb0 252.8px, #e6e6e6 252.8px)
    
    &__after-effects-level
        background-image: linear-gradient(to right, #3d6cb0 188px, #e6e6e6 188px)
    
    &__html-css-level
        background-image: linear-gradient(to right, #3d6cb0 277px, #e6e6e6 277px)
        