include ../cv-section-header/cv-section-header.pug

mixin software

    mixin draw-level(value)
        dd(class=`software__level` style=`background-image: linear-gradient(to right, #3d6cb0 ${value}, #e6e6e6 ${value})`)

    section.software
        +cv-section-header("software")
        .software__levels
            dl.software__col-first
                dt.software__title Photoshop
                +draw-level("90.8197%")
                dt.software__title Illustrator
                +draw-level("70.4918%")
                dt.software__title Indesign
                +draw-level("56.0656%")

            dl.software__col-second
                dt.software__title Dreamweaver
                +draw-level("82.9508%")
                dt.software__title After Effects
                +draw-level("61.6393%")
                dt.software__title HTML&CSS
                +draw-level("90.8197%")