include ../section-header/section-header.pug
include pug-mixins/drawSoftwareLevel.pug

mixin software(softwareList)
    section.software
        +section-header("software")
        ul.software__levels
            each software in softwareList
                li.software__software
                    .software__title=software.title
                    +drawSoftwareLevel(software.level)
