include ../cv-section-header/cv-section-header.pug

mixin software({photoshop, illustrator, indesign, dreamweaver, afterEffects, htmlCss})

    mixin draw-level(value)
        dd(class=`software__level` style=`background-image: linear-gradient(to right, #3d6cb0 ${value}%, #e6e6e6 ${value}%)`)

    section.software
        +cv-section-header("software")
        .software__levels
            dl.software__col-first
                dt.software__title Photoshop
                +draw-level(photoshop)
                dt.software__title Illustrator
                +draw-level(illustrator)
                dt.software__title Indesign
                +draw-level(indesign)

            dl.software__col-second
                dt.software__title Dreamweaver
                +draw-level(dreamweaver)
                dt.software__title After Effects
                +draw-level(afterEffects)
                dt.software__title HTML&CSS
                +draw-level(htmlCss)