.software
  &__levels
    margin-top 1.3125rem
    padding 0
    list-style none
    display flex
    justify-content space-between
    flex-wrap wrap
    width 100%

  &__software
    width 45.346%

  &__title
    font-size 1.75rem
    font-weight 400
    text-transform uppercase
    margin-left 0.375rem

  &__level
    height 1.5rem
    width 96.52%
    margin-left 0.4375rem
    margin-top 0.875rem
    margin-bottom 1.25rem
