.software

    .block-header__picture::after
        background-image: url("software_icon.png")

    &__levels::after
        content: ""
        display: block
        clear: both

    &__second-list,
    &__first-list
        width: 45.346%

    &__second-list
        float: right        
    
    &__first-list
        float: left

    &__title
        font-size: 1.75rem
        font-family: "PTSansRegular"
        text-transform: uppercase
        padding-left: 0.375rem
        padding-top: 0.3125rem

    &__level
        width: 96.52%
        height: 1.5rem             
        margin-left: 0.4375rem
        margin-top: 0.875rem
        margin-bottom: 1rem

    &__photoshop-level
        background-image: linear-gradient(to right, #3d6cb0 90.8197%, #e6e6e6 90.8197%)
    
    &__illustrator-level
        background-image: linear-gradient(to right, #3d6cb0 70.4918%, #e6e6e6 70.4918%)
    
    &__indesign-level
        background-image: linear-gradient(to right, #3d6cb0 56.0656%, #e6e6e6 56.0656%)
    
    &__dreamweaver-level
        background-image: linear-gradient(to right, #3d6cb0 82.9508%, #e6e6e6 82.9508%)
    
    &__after-effects-level
        background-image: linear-gradient(to right, #3d6cb0 61.6393%, #e6e6e6 61.6393%)
    
    &__html-css-level
        background-image: linear-gradient(to right, #3d6cb0 90.8197%, #e6e6e6 90.8197%)