include ../block-header/block-header.pug
include ../common-list/common-list.pug
mixin education    
    .education
        +block-header('education')
        +common-list('education', 4, 'Master Degree', 'University Name')
                