.education-list    
    padding-top: 3px
    list-style: none
    &__secondary-info
    &__date,
    &__title
        font-size: 28.33px              

    &__date,
    &__secondary-info,
    &__text
        font-family: "PTSansRegular" 

    &__title
        padding-left: 22px
        position: relative
        &:before
            position: absolute
            content: "•"
            font-size: 73px
            left: -28px
            top: -30px
            color: #000000
        font-family: "PTSansBold"
        float: left
        text-transform: uppercase
        color: #3d6cb0
        margin-right: 20px
    
    &__secondary-info
        text-transform: uppercase
        padding-left: 20px
    
    &__text
        padding-top: 5px
        padding-left: 23px
        margin-bottom: 12px       