include ../section-header/section-header.pug
include ../list/list.pug

mixin education(degrees)
    section.education
        +section-header("education")
        .education__list
            +list({listItems: degrees, color: "blue"})
