include ../cv-section-header/cv-section-header.pug
include ../common-list/common-list.pug
mixin education
    .education
        +cv-section-header('education')
        +common-list('education', 4, 'Master Degree', 'University Name')
