.education
    margin-bottom: 52px
    .block-header__picture
        background-image: url("education_icon.png")
    
    &-list    
        &__title
            color: #3d6cb0

@media (max-width: 1024px)
    .education
        margin-top: 40px